[submodule "Assets/Astral-Flow"]
	path = Assets/Astral-Flow
	url = https://github.com/daanstout/Astral-Flow
[submodule "Assets/Astral-Base"]
	path = Assets/Astral-Base
	url = https://github.com/daanstout/Astral-Base
